<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eric Minassian</title>
    <meta
      name="description"
      contents="SDE Intern at Amazon. CS + Business Administration double major at UCI."
    />
    <meta name="author" content="Eric Minassian" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <main>
      <nav>
        <a href="/">home</a>
        <a href="/resume">resume</a>
      </nav>
      <h1>hey, I'm eric</h1>
      <p>
        I'm a Computer Science and Business Administration double major at the
        <a href="https://uci.edu" target="_blank"
          >University of California, Irvine</a
        >. I'm currently interning at
        <a href="https://amazon.com" target="_blank">Amazon</a>
        as a Software Development Engineer.
      </p>

      <div>
        <ul>
          <li>
            <a
              href="https://linkedin.com/in/minassian-eric"
              rel="noopener noreferrer"
              target="_blank"
              >linkedin</a
            >
          </li>
          <li>
            <a href="/resume" rel="noopener noreferrer" target="_blank"
              >resume</a
            >
          </li>
          <li>
            <a
              href="https://github.com/eric-minassian"
              rel="noopener noreferrer"
              target="_blank"
              >github</a
            >
          </li>
          <li>
            <a
              href="mailto:eric@ericminassian.com"
              rel="noopener noreferrer"
              target="_blank"
              >email</a
            >
          </li>
        </ul>
      </div>
    </main>
  </body>
</html>
